@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: Consolas, "Courier New", monospace;
  user-select: none;
}

body,
html {
  background-color: #000000;
}

@layer utilities {

  .scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.183);
    border-radius: 100vw;
    width: 1px;
    height: 1px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.358);
  }

}

@keyframes rotate360 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

